/* Set the background color of the page */
body {
    background-color: #f0f0f0;
}

/* Style the Sudoku board */
#board {
    border-collapse: collapse;
    margin: auto;
    width: 500px;
    height: 500px;
}

#board td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#board tr:first-child {
    border-top: 3px solid black;
}

#board td:nth-child(3n) {
    border-right: 3px solid black;
}

tr:nth-child(3n) {
    border-bottom: 3px solid black;
}

tr:nth-child(n) {
  border-right: 3px solid black;
  border-left: 3px solid black
}

/* Highlights */

.highlighted {
    background-color: #b3d9ff;
}

.highlight-same {
    background-color: #e6ffe6;
}

/* Dark mode */
body.dark-mode {
    background-color: #333333;
    color: #f0f0f0;
}

body.dark-mode #board td {
    border: 1px solid #f0f0f0;
}

body.dark-mode #board tr:first-child {
    border-top: 3px solid #f0f0f0;
}

body.dark-mode #board td:nth-child(3n) {
    border-right: 3px solid #f0f0f0;
}

body.dark-mode tr:nth-child(3n) {
    border-bottom: 3px solid #f0f0f0;
}

body.dark-mode tr:nth-child(n) {
  border-right: 3px solid #f0f0f0;
  border-left: 3px solid #f0f0f0
}

.highlighted.dark-mode {
    background-color: #007aff;
}

.highlight-same.dark-mode {
    background-color: #1aff8c;
}

/*//////////////////////////////////////////////////////////////////////////*/

h1 {
    font-family: 'Lobster', sans-serif;
    text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3e8e41;
}

#timer {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
}

#guessBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}